/* Menu */
.item-menu__wrap{
    display: flex;
}

.item-menu{
    list-style-type: none;
    margin-bottom: 15px;
    position: relative;
}

.item-menu:hover .item-title{
    color: #EA7C69;
}

.item-title{
    color: #fff;
    cursor: pointer;
    margin-right: 32px;
    transition: all ease 0.4s;
}

.item-title:hover{
   color: #EA7C69; 
}

.active::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -16px;
    border-radius: 12px;
    background-color: #EA7C69;
    padding: 2px 23px;
    z-index: 3;
}

.item-line{
    background-color: #EA7C69
}

.header-line{
    border-top: 2px solid #393C49;
    padding-right: 100%;
    position: relative;
}