.header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 1.5rem;
}

.header-title{
    font-weight: 600;
    font-size: 1.75rem;
    color: #fff;
    margin-bottom: 0.30rem;
}

.header-desc{
    font-size: 1rem;
    color: #E0E6E9;
    margin-bottom: 1.5rem;
}

.header-search{
    width: 102%;
    border: 1px solid #393C49;
    border-radius: 0.5rem;
    padding: 0.940rem 0 0.940rem 2.5rem;
    background-color: #2d303e;
    color: #fff;
    outline: none;
}

input::placeholder{
    color: #ABBBC2;
}

.search-icon{
    position: relative;
}

.search-icon::before{
    content: url("assets/image/icons/search.svg");
    position: absolute;
    left: 0;
    top: 0.940rem;
    padding-left: 0.625rem;
}